---
title: "Case Study | Bharatiya Vidhya Bhavan"
excerpt: "Story of how OpenWire helped Bharatiya Vidhya Bhavan to enhance learning experience for their students."
category: Case Study
dateofpublication: December 2023
author: OpenWire
---
<!DOCTYPE html>
<html lang="zxx">
{% include "../_components/head.njk" %}

<body>

    <!-- wrapper -->
    <div class="mil-wrapper" id="top">

        {% include "../_components/common-top.njk" %}

        <!-- content -->
        <div class="mil-content">
            <div id="swupMain" class="mil-main-transition">

                <!-- banner -->
                <div class="mil-inner-banner">
                    <div class="mil-banner-content mil-center mil-up">
                        <div class="container">
                            <ul class="mil-breadcrumbs mil-center mil-mb-60">
                                <li><a href="/">Homepage</a></li>
                                <li><a href="/blog/">Blog</a></li>
                                <li><a href="#">Publication</a></li>
                            </ul>
                            <h2>
                                Enhancing <span class="mil-thin">learning experience at</span><br/>
                                Bharatiya Vidhya Bhavan
                            </h2>
                        </div>
                    </div>
                </div>
                <!-- banner end -->

                <!-- publication -->
                <section id="blog">
                    <div class="container mil-p-120-90">
                        <div class="row justify-content-center">
                            <div class="col-lg-12">

                                <div class="mil-image-frame mil-horizontal mil-up">
                                    <img src="/assets/img/blog/bharatiya-vidhya-bhavan.webp" alt="Publication cover" class="mil-scale"
                                        data-value-1=".90" data-value-2="1.15">
                                </div>
                                <div class="mil-info mil-up mil-mb-90">
                                    <div>Category: &nbsp;<span class="mil-dark">{{ category }}</span></div>
                                    <div>Date: &nbsp;<span class="mil-dark">{{ dateofpublication }}</span></div>
                                    <div>Author: &nbsp;<span class="mil-dark">{{ author }}</span></div>
                                </div>

                            </div>
                            <div class="col-lg-8">

                                <p class="mil-text-l mil-dark mil-up mil-mb-60">
                                    OpenWire, is proud to partner with Bhartiya Vidya Bhavan, a renowned educational institution in India, to provide their schools with cutting-edge technology solutions. By implementing OpenWire's Deck Neo Thin Client devices, Bhartiya Vidya Bhavan has achieved significant cost savings, enhanced maintenance efficiency, and improved energy conservation efforts.
                                </p>

                                <h5 class="mil-up mil-mb-30">The Challenge</h5>
                                <p class="mil-up mil-mb-60">
                                    Bhartiya Vidya Bhavan sought a cost-effective and reliable computing solution to support their computer labs across six schools in Kochi, Kerala. The institution aimed to reduce the burden of maintaining and managing traditional desktop computers, while simultaneously ensuring seamless performance for their students.
                                </p>

                                <h5 class="mil-up mil-mb-30">Our Offering</h5>
                                <p class="mil-up mil-mb-20">
                                    OpenWire's Deck Neo Thin Client devices emerged as the ideal solution for Bhartiya Vidya Bhavan's requirements. These powerful Thin Clients offer a range of benefits, including:
                                </p>
                                <ul class="mil-mb-60" style="padding-left: 20px">
                                    <li class="mil-up mil-mb-20">
                                        <b>Reduced Hardware Costs:</b> Thin Clients are significantly less expensive to purchase and maintain compared to traditional desktop computers.
                                    </li>
                                    <li class="mil-up mil-mb-20">
                                        <b>Centralized Management:</b> Thin Clients are managed centrally, simplifying administration and reducing the need for on-site IT support.
                                    </li>
                                    <li class="mil-up mil-mb-20">
                                        <b>Enhanced Performance:</b> Thin Clients deliver exceptional performance, enabling students to access educational resources and applications seamlessly.
                                    </li>
                                </ul>

                                <h5 class="mil-up mil-mb-30">Our Achievements</h5>
                                <p class="mil-up mil-mb-20">
                                    OpenWire successfully implemented Deck Neo Thin Client devices in six Bhartiya Vidya Bhavan schools in Kochi, Kerala. By deploying OpenWire's Deck Neo Thin Clients, Bhartiya Vidya Bhavan has achieved remarkable results:
                                </p>
                                <ul class="mil-mb-60" style="padding-left: 20px">
                                    <li class="mil-up mil-mb-20">
                                        <strong>Cost Savings:</strong> The institution has reduced its IT hardware costs by 50% compared to traditional desktop computers.
                                    </li>
                                    <li class="mil-up mil-mb-20">
                                        <strong>Maintenance Reduction:</strong> Thin Clients have significantly reduced maintenance requirements, leading to a 75% decrease in IT support costs.
                                    </li>
                                    <li class="mil-up mil-mb-20">
                                        <strong>Power Savings:</strong> OpenWire's energy-efficient Thin Clients have contributed to a 97% reduction in power consumption, saving the institution valuable resources.
                                    </li>
                                    <li class="mil-up mil-mb-20">
                                        <strong>Extended Lifespan:</strong> With their robust design and centralized management, Thin Clients offer an average lifespan of 57% longer than traditional desktop computers.
                                    </li>
                                </ul>

                                <h5 class="mil-up mil-mb-30">Takeaway</h5>
                                <p class="mil-up mil-mb-60">
                                    The partnership between OpenWire and Bhartiya Vidya Bhavan exemplifies the transformative power of Thin Client technology in the education sector. By adopting Deck Neo Thin Clients, the institution has not only achieved significant cost savings and maintenance efficiencies but also enhanced its IT infrastructure, enabling it's students to learn and thrive in a technology-rich environment.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- publication end -->

                <!-- footer -->
                {% include "../_components/footer.njk" %}
                <!-- footer end -->

                <!-- hidden elements -->
                {% include "../_components/hidden-elements.njk" %}
                <!-- hidden elements end -->

            </div>
        </div>
        <!-- content -->
    </div>
    <!-- wrapper end -->

    {% include "../_components/scripts.njk" %}

</body>

</html>
