---
title: Deck Neo | OpenWire
---
<!DOCTYPE html>
<html lang="zxx">

{% include "../_components/head.njk" %}

<body>

    <!-- wrapper -->
    <div class="mil-wrapper" id="top">

        {% include "../_components/common-top.njk" %}

        <!-- content -->
        <div class="mil-content">
            <div id="swupMain" class="mil-main-transition">

                <!-- banner -->
                <div class="mil-inner-banner">
                    <div class="mil-banner-content mil-up">
                        <div class="mil-animation-frame">
                            <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
                        </div>
                        <div class="container">
                            <ul class="mil-breadcrumbs mil-mb-60">
                                <li><a href="/">Homepage</a></li>
                                <li><a href="/ecosystem/">Ecosystem</a></li>
                                <li><a href="/products/">Products</a></li>
                                <li><a href="deck-neo">Deck Neo</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- banner end -->

                <!-- service -->
                <section id="service">
                    <div class="container mil-p-120-90">
                        <div class="row justify-content-between">
                            <div class="col-lg-6 mil-relative mil-mb-90">
                                <h1 class="mil-mb-60">Deck <span class="mil-thin">Neo</span></h1>
                                <h4 class="mil-up mil-mb-30">Effortless <span class="mil-thin">Access,</span> <br>Endless <span class="mil-thin">Power</span></h4>
                                <p class="mil-up mil-mb-30">The Deck Neo is a thin client, a small and affordable computer that connects to powerful on-premise or cloud servers instead of needing its own processing power. This lets you access demanding programs and data storage without the cost of a full computer on every desk.</p>
                                {% macro keypoints(title,content) -%}
                                <div class="mil-accordion-group mil-up">
                                    <div class="mil-accordion-menu">

                                        <p class="mil-accordion-head">{{ title }}</p>

                                        <div class="mil-symbol mil-h3">
                                            <div class="mil-plus">+</div>
                                            <div class="mil-minus">-</div>
                                        </div>

                                    </div>
                                    <div class="mil-accordion-content">
                                        <p class="mil-mb-30">{{ content }}</p>
                                    </div>
                                </div>
                                {%- endmacro %}
                                <div class="mt-5">
                                    {{ keypoints("Cost-Effective", "The lower upfront cost of thin clients combined with reduced maintenance and energy costs translates to significant savings over time for businesses deploying Deck Neo across their Organization.") }}

                                    {{ keypoints("Performance Powerhouse", "Deck Neo, relying on a robust server, excels in delivering a seamless and responsive user experience, effortlessly handling all basic office tasks and seamlessly managing even the most complex and demanding loads.") }}

                                    {{ keypoints("Scalability Made Easy", "As your business grows, adding more Deck Neo devices is a simple process. Their minimal hardware footprint and reliance on server resources makes them easy to integrate into your existing infrastructure, allowing you to scale your deployment to meet your evolving needs.") }}

                                    {{ keypoints("Security-Centric", "Deck Neo is designed with security in mind. Data processing and storage happen on a central server, minimizing the risk of data breaches or loss if the thin client device itself is stolen or compromised.") }}
                                </div>
                                <div class="mil-up mil-adaptive-right">
                                    <a href="https://docs.openwire.in/docs/datasheets/deck-neo" target="_blank" class="mil-link mil-dark mil-arrow-place" data-no-swup>
                                        <span>Datasheet</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mil-up mil-img-frame" style="padding-bottom: 160%;">
                                    <img src="/assets/img/products/deck-neo.webp" alt="img" class="mil-scale" data-value-1="1" data-value-2="1.2">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- service end -->

                <!-- footer -->
                {% include "../_components/footer.njk" %}
                <!-- footer end -->

                <!-- hidden elements -->
                {% include "../_components/hidden-elements.njk" %}
                <!-- hidden elements end -->

            </div>
        </div>
        <!-- content -->
    </div>
    <!-- wrapper end -->

    {% include "../_components/scripts.njk" %}

</body>

</html>
