---
title: Products | OpenWire
---
<!DOCTYPE html>
<html lang="zxx">

{% include "../_components/head.njk" %}

<body>

    <!-- wrapper -->
    <div class="mil-wrapper" id="top">

        {% include "../_components/common-top.njk" %}

        <!-- content -->
        <div class="mil-content">
            <div id="swupMain" class="mil-main-transition">

                <!-- banner -->
                <div class="mil-inner-banner">
                    <div class="mil-banner-content mil-up">
                        <div class="mil-animation-frame">
                            <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
                        </div>
                        <div class="container">
                            <ul class="mil-breadcrumbs mil-mb-60">
                                <li><a href="/">Homepage</a></li>
                                <li><a href="/ecosystem/">Ecosystem</a></li>
                                <li><a href="/products/">Products</a></li>
                            </ul>
                            <h1 class="mil-mb-60">Designing a <br> Better <span class="mil-thin">World Today</span></h1>
                            <a href="#portfolio" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
                                <span>Our products</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- banner end -->

                <!-- portfolio -->
                <section id="portfolio">
                    <div class="container mil-portfolio mil-p-120-60">

                        <div class="mil-lines-place"></div>
                        <div class="mil-lines-place mil-lines-long"></div>

                            <div class="row justify-content-between align-items-center">
                            <div class="col-lg-5">

                                <a href="deck-neo" class="mil-portfolio-item mil-more mil-mb-60">
                                    <div class="mil-cover-frame mil-vert mil-up">
                                        <div class="mil-cover">
                                            <img src="/assets/img/products/deck-neo.webp" alt="cover">
                                        </div>
                                    </div>
                                    <div class="mil-descr">
                                        <div class="mil-labels mil-up mil-mb-15">
                                            <div class="mil-label mil-upper mil-accent">Thinclient</div>
                                        </div>
                                        <h4 class="mil-up mil-mb-20">Deck Neo</h4>
                                        <p class="mil-mb-30">
                                            Streamlined computing solutions designed for speed and simplicity.
                                        </p>
                                    </div>
                                </a>

                            </div>
                            <div class="col-lg-6">

                                <a href="hypernas" class="mil-portfolio-item mil-more mil-parallax mil-mb-60" data-value-1="60" data-value-2="-60">
                                    <div class="mil-cover-frame mil-hori mil-up">
                                        <div class="mil-cover">
                                            <img src="/assets/img/products/hypernas.webp" alt="cover">
                                        </div>
                                    </div>
                                    <div class="mil-descr">
                                        <div class="mil-labels mil-up mil-mb-15">
                                            <div class="mil-label mil-upper mil-accent">NAS Device</div>
                                        </div>
                                        <h4 class="mil-up mil-mb-20">HyperNAS</h4>
                                        <p class="mil-mb-30">
                                            Robust storage options that ensure your data is secure and accessible.
                                        </p>
                                    </div>
                                </a>

                            </div>
                            <div class="col-lg-6">

                                <a href="deck-studio" class="mil-portfolio-item mil-more mil-mb-60">
                                    <div class="mil-cover-frame mil-hori mil-up">
                                        <div class="mil-cover">
                                            <img src="/assets/img/products/deck-studio.webp" alt="cover">
                                        </div>
                                    </div>
                                    <div class="mil-descr">
                                        <div class="mil-labels mil-up mil-mb-15">
                                            <div class="mil-label mil-upper mil-accent">AIO Desktop</div>
                                        </div>
                                        <h4 class="mil-up mil-mb-20">Deck Studio</h4>
                                        <p class="mil-mb-30">
                                            The epitome of convenience and functionality, merging top-tier performance
                                            with elegant design.
                                        </p>
                                    </div>
                                </a>

                            </div>
                            <div class="col-lg-5">

                                <a href="deck-mini" class="mil-portfolio-item mil-more mil-parallax mil-mb-60" data-value-1="60" data-value-2="-60">
                                    <div class="mil-cover-frame mil-vert mil-up">
                                        <div class="mil-cover">
                                            <img src="/assets/img/products/deck-mini.webp" alt="cover">
                                        </div>
                                    </div>
                                    <div class="mil-descr">
                                        <div class="mil-labels mil-up mil-mb-15">
                                            <div class="mil-label mil-upper mil-accent">Mini Computer</div>
                                        </div>
                                        <h4 class="mil-up mil-mb-20">Deck Mini</h4>
                                        <p class="mil-mb-30">
                                            Compact powerhouses that bring versatility to any workspace.
                                        </p>
                                    </div>
                                </a>

                            </div>
                            <div class="col-lg-6">

                                <a href="securegate" class="mil-portfolio-item mil-more mil-parallax mil-mb-60" data-value-1="60" data-value-2="-60">
                                    <div class="mil-cover-frame mil-hori mil-up">
                                        <div class="mil-cover">
                                            <img src="/assets/img/products/securegate.webp" alt="cover">
                                        </div>
                                    </div>
                                    <div class="mil-descr">
                                        <div class="mil-labels mil-up mil-mb-15">
                                            <div class="mil-label mil-upper mil-accent">Network Firewall</div>
                                        </div>
                                        <h4 class="mil-up mil-mb-20">SecureGate</h4>
                                        <p class="mil-mb-30">
                                            A robust and versatile network security solution that protects your network.
                                        </p>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </section>
                <!-- portfolio end -->

                <!-- call to action -->
                <section class="mil-soft-bg">
                    <div class="container mil-p-120-120">
                        <div class="row">
                            <div class="col-lg-10">

                                <span class="mil-suptitle mil-suptitle-right mil-suptitle-dark mil-up">Looking to make your mark? We'll help you turn <br> your business into a success story.</span>

                            </div>
                        </div>
                        <div class="mil-center">
                            <h2 class="mil-up mil-mb-60">Ready to bring your <span class="mil-thin">ideas to</span> life? <br> We're <span class="mil-thin">here to help</span></h2>
                            <div class="mil-up"><a href="/contact/" class="mil-button mil-arrow-place"><span>Contact us</span></a></div>
                        </div>
                    </div>
                </section>
                <!-- call to action end -->

                <!-- footer -->
                {% include "../_components/footer.njk" %}
                <!-- footer end -->

                <!-- hidden elements -->
                {% include "../_components/hidden-elements.njk" %}
                <!-- hidden elements end -->

            </div>
        </div>
        <!-- content -->
    </div>
    <!-- wrapper end -->

    {% include "../_components/scripts.njk" %}

</body>

</html>
