<!-- footer -->
<footer class="mil-dark-bg">
    <div class="mi-invert-fix">
        <div class="container mil-p-120-60">
            <div class="row justify-content-between">
                <div class="col-md-4 col-lg-4 mil-mb-60">
                    <div class="mil-muted mil-logo mil-up mil-mb-30">
                        <img style="max-width: 100%;" src="/assets/img/logos/logo.svg"/>
                    </div>
                    <div class="mil-mb-60">
                        <div class="mil-vert-between">
                            <div class="mil-mb-30">
                                {# <ul class="mil-social-icons mil-up">
                                    <li>
                                        <a href="#." target="_blank" class="social-icon">
                                            <i class="far fa-circle"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#." target="_blank" class="social-icon">
                                            <i class="far fa-circle"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#." target="_blank" class="social-icon">
                                            <i class="far fa-circle"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#." target="_blank" class="social-icon">
                                            <i class="far fa-circle"></i>
                                        </a>
                                    </li>
                                </ul> #}
                            </div>
                            <p class="mil-light-soft mil-up">© Copyright 2025 - All Rights Reserved.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-lg-6">
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <h6 class="mil-muted mil-up mil-mb-30">Resources</h6>
                            <ul class="mil-menu-list mil-up mil-mb-60">
                                <li><a href="/tools/server-calculator" class="mil-light-soft">Server Resource Calculator</a></li>
                                {# <li><a href="/tools/raid-calculator" class="mil-light-soft">RAID Calculator</a></li> #}
                                <li><a href="https://docs.openwire.in/docs/warranty-terms" target="_blank" class="mil-light-soft" data-no-swup>Warranty Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-md-6 col-lg-5 mil-mb-60">
                            <h6 class="mil-muted mil-up mil-mb-30">USA</h6>
                            <p class="mil-light-soft mil-up">
                                111 N Orange Ave<br/> Suite 800, Orlando<br/> Florida - 32801
                            </p>
                        </div>
                        <div class="col-md-6 col-lg-5 mil-mb-60">
                            <h6 class="mil-muted mil-up mil-mb-30">India</h6>
                            <p class="mil-light-soft mil-up">
                                CK Tower <br/>
                                Kalamassery, Kochi<br/> Kerala - 683503
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->
