<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RH6RDE94CS"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-RH6RDE94CS');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="144x144" href="/favicon-144x144.png">
    <!-- End favicons -->
    <!-- bootstrap grid css -->
    <link rel="stylesheet" href="/assets/css/plugins/bootstrap-grid.css">
    <!-- font awesome css -->
    <link rel="stylesheet" href="/assets/css/plugins/font-awesome.min.css">
    <!-- swiper css -->
    <link rel="stylesheet" href="/assets/css/plugins/swiper.min.css">
    <!-- fancybox css -->
    <link rel="stylesheet" href="/assets/css/plugins/fancybox.min.css">
    <!-- theme scss -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="/assets/css/custom.css">
    {% seo "" %}
</head>
