<!-- menu -->
<div
    class="mil-menu-frame">
    <!-- frame clone -->
    <div class="mil-frame-top">
        <a href="/" class="mil-logo logo-icon">o</a>
        <div class="mil-menu-btn">
            <span></span>
        </div>
    </div>
    <!-- frame clone end -->
    <div class="container">
        <div class="mil-menu-content">
            <div class="row">
                <div class="col-xl-5">
                    <nav class="mil-main-menu" id="swupMenu">
                        <ul>
                            <li>
                                <a href="/">Homepage</a>
                            </li>
                            <li class="mil-has-children">
                                <a href="/products/">Products &amp; Services</a>
                                <ul>
                                    <li><a href="/products/deck-neo">Deck Neo</a></li>
                                    <li><a href="/products/hypernas">HyperNAS</a></li>
                                    <li><a href="/products/deck-mini">Deck Mini</a></li>
                                    <li><a href="/products/deck-studio">Deck Studio</a></li>
                                    <li><a href="/products/securegate">SecureGate</a></li>
                                    <li><a href="/products/wiregrid">Wiregrid</a></li>
                                    <li><a href="/products/vapor-gateway">Vapor Gateway</a></li>
                                    <li><a href="/ecosystem/">OpenWire Ecosystem</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/resellers/">Authorized Resellers</a>
                            </li>
                            <li>
                                <a href="/blog/">Blog</a>
                            </li>
                            {# <li>
                                <a href="https://forum.openwire.in" data-no-swup>Forum</a>
                            </li> #}
                            <li>
                                <a href="https://docs.openwire.in" data-no-swup>Knowledge Base</a>
                            </li>
                            <li>
                                <a href="/contact">Contact Us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-xl-7">
                    <div class="mil-menu-right-frame">
                        <div class="mil-animation-in">
                            <div class="mil-animation-frame">
                                <div class="mil-animation mil-position-1 mil-scale" data-value-1="2" data-value-2="2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- menu -->
