<!-- preloader -->
<div class="mil-preloader">
    <div class="mil-preloader-animation">
        <div class="mil-pos-abs mil-animation-1">
            <p class="mil-h3 mil-muted mil-thin">Empowering</p>
            <p class="mil-h3 mil-muted">Enterprise</p>
            <p class="mil-h3 mil-muted mil-thin">Efficiency</p>
        </div>
        <div class="mil-pos-abs mil-animation-2">
            <div class="mil-reveal-frame">
                <p class="mil-reveal-box"></p>
                <p class="mil-h3 mil-muted">
                    <img style="max-width: 100%;" src="/assets/img/logos/logo.svg" />
                </p>
            </div>
        </div>
    </div>
</div>
<!-- preloader end -->
